[Unit]
Description=PVPGN Bots 1
Require=pvpgnserver.service
After=pvpgnserver.service

[Service]
User=root
Restart=always
#ExecStartPre=/home/daniel/project/update-lo/update-net.sh && /bin/systemctl restart networking
#ExecStart=/usr/local/bin/docker-compose -f /home/daniel/docker/ghost-bots/bot-1/docker-compose.yml up
#ExecStop=/usr/local/bin/docker-compose -f /home/daniel/docker/ghost-bots/bot-1/docker-compose.yml down

[Install]
WantedBy=multi-user.target